body {
	font-family: 'Chelsea Market';
	background-image: url("../images/background.png");
}

#board-container {
	background-color: #ccffa5;
	width: 600px;
}

h1 {
	color: #f7302a;
	background-color: #ffddfb;
}

h4 {
	color: #994f00;
	background-color: #affdff;
}

h2 {
	color: #01018c;
	background-color: white;
}

#user {
	color: white;
}

p {
	font-size: 18px;
	color: #a00053;
}

#score {
	color: #008084;
	font-size: 22px;
  background-color: #fff2a3;
}

.card {
	height: 125px;
	width: 125px;
	margin: 23px 0px;
}

.card img {
	width: 125px;
	height: auto;
}

.back img {
	margin-top: -147px;
}

img {
	width: 125px;
}

.col-sm-3 {
	padding: 0;
}

.row {
	text-align: center;
	margin: auto;
}

/** The following code was taken from http://codepen.io/samerpik/pen/daIDC **/
.animation {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.card-container 
{
 
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;

  
  /*depth of the elements */
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
}

.card 
{
  cursor: pointer;
  
  /*transition effects */
  -webkit-transition: -webkit-transform 0.6s;
  -moz-transition: -moz-transform 0.6s;
  -o-transition: -o-transform 0.6s;
  transition: transform 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.card.flipped 
{
	cursor: auto;
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

.card .front,
.card .back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 3px 5px 20px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.26);
}

.card .back {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

/** end of reference **/

#footer {
  background-color: black;
  color: white;
}

#isifooter {
  color: white;
  background-color: transparent;
}