h1 {
	color: #f7302a;
	text-align: center;
}

body {
	background-image: url('../images/background.png');
	background-repeat: repeat;
	font-family: 'Chelsea Market';
	font-size: 17px;
}

#main {
	position: fixed;
	top: 50%;
	bottom: 50%;
	margin-top: -150px;
	margin-left: 100px;
}

.warning-container {
	text-align: center;
}

#warning {
	color: #f7302a;
}

#login {
	width: 400px;
	height: 300px;
	margin: auto;
	padding: 20px;
	background-color: #28d3a3;
	border-style: outset;
	border-width: 4px;
	border-color: #03b263;
}